<div class="da-container">
  <header class="header">
    <a routerLink="/" class="logo-link">
      <div class="logo">
        <span class="logo-neuro">NEURO</span>
        <span class="logo-health">HEALTH</span>
      </div>
    </a>
    <button class="login-button" routerLink="/specialist-dashboard">Mi Panel</button>
  </header>
  
  <main class="da-main-content">
    <h2 class="da-section-title">Gestión de Agenda</h2>
    
    <app-reschedule-prompt
      *ngIf="isRescheduling && reschedulePromptMessage"
      [message]="reschedulePromptMessage"
      (rescheduleCancelled)="onRescheduleCancelled()">
    </app-reschedule-prompt>
    
    <p *ngIf="!isRescheduling" class="da-description">
      Visualiza y gestiona tus citas programadas. Selecciona un día en el calendario para ver los detalles.
    </p>
    
    <div class="da-calendar-appointments-wrapper">
      <app-calendar
        [currentDate]="currentDate"
        [selectedDate]="selectedDate"
        [appointmentsMap]="allFetchedAppointments"
        (dateSelected)="onDateSelected($event)"
        (prevMonth)="onPrevMonth()"
        (nextMonth)="onNextMonth()">
      </app-calendar>
      
      <app-appointment-list
        *ngIf="!isRescheduling"
        [appointments]="appointmentsForSelectedDate"
        [selectedDate]="selectedDate"
        [isLoading]="isLoadingAppointments"
        (cancelAppointment)="onCancelAppointment($event)"
        (rescheduleAppointment)="onRescheduleAppointment($event)">
      </app-appointment-list>
    </div>
  </main>
</div>